.Main {
  background: url('../images/app-background.jpg') top repeat-y;
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #25b7d3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .content-row {
    height: 65%;
  }
}
body {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.todo-title {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 153, 204, 0.81);
  font-style: italic;
  font-size: 60px;
  text-align: left;

}

.input-box p input {
  font-family: Helvetica;
  color: rgba(50, 128, 204, 0.65);
  font-style: italic;
  font-size: 25px;
  text-align: left;
  padding-right: 20px;

}

.todo-instructions {
  font-family: Helvetica;
  font-size: 10px;
  font-style: italic;
  padding-top: 20px;
}

.input-box {
  font-family: SansSerif;
  font-size: 20px;
  list-style: none;
  display: inline-table;
  width: 340px;
  text-align: left;

}

.input-box p {
  display: block;
  padding: 15px 20px;
  background-color: #F8F8F8;
  color: #7B8585;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;

  transition: 0.3s;
}

.commentForm {
  /*text-align: left;*/
}
.completed {
  text-decoration: line-through red;
  text-decoration-style: solid;
  border-bottom: #ffff11;

}

#todo-list {
  font-family: Helvetica;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  width: 340px;
  text-align: left;
}

#todo-list p {
  display: block;
  padding: 15px 20px;
  background-color: #F8F8F8;
  color: #7B8585;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;

  transition: 0.3s;
}

#todo-list p b {
  position: absolute;
  right: 28px;
  line-height: 16px;
  width: 100px;
  color: #808787;
  text-align: right;
}

#todo-list p:hover {
  background-color: #d8f2f1;
}

#todo-list p.active {
  color: #fff;
  background-color: #41c7c2;
}

#todo-list p.active b {
  color: #fff;
}


/*
scroll
 */
#scroll-wrap {
  max-height: 50vh;
  overflow-y: auto;
}


.todo-row-button {
  position: absolute;
  right: 25px;
}

.btn.btn-removable-list-item {
  float: right;
  font-size: 9px;
  margin-top: 4px;
  position: absolute;
  right: 10px;
}
.btn.btn-completed-list-item {
  float: right;
  font-size: 9px;
  margin-top: 4px;
  position: absolute;
  right: 45px;
}
#scroll-wrap {
  max-height: 50vh;
  overflow-y: auto;
}