.Main {
    background: url('./app-background.jpg') top repeat-y;
    text-align: center;

}



.App-intro {
    font-size: large;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

html {
    font: 14px normal Arial, sans-serif;
    color: #626771;
    background-color: #fff;
}

body {
    background: url('app-background.jpg') top repeat-y;
    padding: 60px;
    text-align: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.todo-title {
    font-family: SansSerif;
    color: rgba(0, 153, 204, 0.81);
    font-style: italic;
    font-size: 60px;
    text-align: left;

}

.input-box p input {
    font-family: Helvetica;
    color: rgba(50, 128, 204, 0.65);
    font-style: italic;
    font-size: 25px;
    text-align: left;
    padding-right: 20px;

}

.todo-instructions {
    font-family: Helvetica;
    font-size: 10px;
    font-style: italic;
    padding-top: 20px;
}

.input-box {
    font-family: SansSerif;
    font-size: 20px;
    list-style: none;
    display: inline-table;
    width: 340px;
    text-align: left;

}

.input-box p {
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

.commentForm {
    /*text-align: left;*/
}

#todo-list {
    font-family: Helvetica;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}


#todo-list p {
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

#todo-list p b {
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;

}

.completed {
    text-decoration: line-through red;
    text-decoration-style: solid;
    border-bottom: #ffff11;

}

#todo-list p:hover {
    background-color: #d8f2f1;

}

#todo-list p.active {
    color: #fff;
    background-color: #41c7c2;
}

#todo-list p.active b {
    color: #fff;
}

.todo-row-button {
    position: absolute;
    right: 25px;
}

.btn.btn-removable-list-item {
    float: right;
    font-size: 9px;
    margin-top: 4px;
    position: absolute;
    right: 10px;
}

#scroll-wrap {
    max-height: 50vh;
    overflow-y: auto;
}

